# ========================
# Build y Compilación (Maven)
# ========================
target/
*/target/
*/*/target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
*.iws
out/

# ========================
# NetBeans
# ========================
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
nb-configuration.xml

# ========================
# Logs y Temporales
# ========================
*.log
hs_err_pid*
replay_pid*

# ========================
# Mac / Windows (Opcional pero recomendado)
# ========================
.DS_Store
Thumbs.db
/Ghosttracks/GhosttracksPreventas/nbproject/
